<style>
    tr {
        text-align: center;
    }

    @* tr:nth-child(odd) {
        background-color: #a0a6acc2;
    } *@

    tr td {
        text-align: center !important;
    }
</style>

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>نمایندگان  
                            <small>پنل مدیریت چندکاره</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">نمایندگان</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form class="search-form">
            <div class="form-group">
                <input style="border:2px solid green; border-radius: 25px;" type="search"
                    placeholder="جستجو کردن.." class="Form-control w-100 m-2 p-2">


                <input type="text" class="Form-control w-100 m-2 p-2" style="border:2px solid green;border-radius: 25px"
                    placeholder="تاریخ را وارد کنید">

                <button class="btn btn-success m-1 ">جستجو</button>
        </form>
    </div>

    <div class="col-xl-12 xl-100">
        <div class="card">

            <div class="card-body">
                <div class="user-status table-responsive latest-order-table">
                    <table class="table table-bordernone">
                        <thead>
                            <tr>
                                <td scope="col">ردیف</td>
                                <td scope="col">نام و نام خانوادگی</td>
                                <td scope="col">شماره تماس</td>
                                <td scope="col">کیف پول</td>
                                <td scope="col">امتیاز مسابقه</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="font-danger">مینا راثی</td>
                                <td class="digits"> 09199519891</td>
                                <td class="digits"> 35000</td>
                                <td class="digits"> 
                                     <a href="" class="btn btn-warning">جزئیات مسابقه</a>
                                </td>
                            </tr>
                        </tbody>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends-->

</div>









